:root {
    --mint: #51ddd4;
    --blue: #7ab7ee;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar-top {
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.04);
}

.burger {
    background: #494949;
    position: relative;
    height: 3px;
    width: 28px;
    margin: 18px;
    margin-top: 28px;
}

.burger:before {
    background: #494949;
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    width: 28px;
    height: 3px;
}

.burger:after {
    background: #494949;
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 20px;
    height: 3px;
}

.card-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav>div a {
    color: #494949 !important;
}

.remove-button:hover {
    cursor: pointer;
}

#toast-container {
    top: 0% !important;
    left: 50% !important;
    transform: translateX(-50%);
}

.editDiet {
    box-sizing: border-box;
    width: 12%;
    height: 10vh;
    padding: 1% !important;
    margin: 1% !important;
    position: relative;
}

.editDiet-btn {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%)
}